body{
  font-family: arial, sans-serif;
  background: #fff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#fff, #b3b3b3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fff, #b3b3b3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fff, #b3b3b3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fff, #b3b3b3); /* Standard syntax */
}

header .row, footer .row{
  display: flex;
  align-items: center;
}

header .row h1 a{
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul li{
  float: left;
}

nav ul li a:link{
  display: inline-block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #999;
  color: #fff;
}
nav ul li a:visited{
    color: #000;
}

hr{
  width: 50%;
}

.jumbotron{
  display: flex;
  align-items: center;
  background-image: url(https://unsplash.it/1200/400/?random);
  background-size: cover;
  color: #ff0;
  height: 500px;
  margin-top: 25px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.shadow-box{
  margin-left: 500px;
  background-color: rgba(204, 204, 204, 0.5);
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

section .row img {
  margin: 0 0;
  width: 100%;
}

.container .row{
  margin-top: 25px;
}

img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grey-img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.blur-img{
  -webkit-filter: blur(5px);
  filter:blur(5px);
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

/*contact*/

.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}
